/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* font: inherit; */
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS STYLE */
:root {
    --brown: #9D7E5F;
    --green: #53694F;
    --purple: #E5D5FF;
    --krem: #F6F1E5;
}

html {
    scroll-behavior: smooth;
}

a {
    color: var(--brown);
}

span {
    font-weight: 900;
}

body {
    background-image: linear-gradient(to right, var(--green) 0%, var(--green) 50%, var(--brown) 50%, var(--brown) 100%);
    font-family: 'Roboto Slab', serif;
}

.container {
    margin: 10px 20px;
    height: 98.40vh;
}

/* Start Header Style */

.pengganti {
    width: 100%;
    height: 10vh;
}

header {
    position: fixed;
    width: 98%;
    z-index: 9999;
    transition: background-color 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    /* background-color: red; */
}

header.scrolled {
    width: 100%;
    height: 7vh;
    top: 0;
    left: 0;
    background-color: rgb(62, 52, 52);
    box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, .8);
    ;
    opacity: 100;
}

header.scrolled .nav p:hover {
    color: rgb(0, 0, 0);
}

header.scrolled .center-nav h3:hover {
    color: black;
}

header.scrolled hr {
    display: none;
}

header.scrolled .nav {
    width: 98%;
    top: -13px;
    position: absolute;
}

header.scrolled .nav p {
    font-size: 15px;
}

header.scrolled .nav h3 {
    font-size: 27px;
}

header.scrolled .search .icon {
    left: 16px;
    top: 20px;
    width: 28px;
    height: 28px;
}

.search .icon {
    position: absolute;
    top: 29px;
    left: 32px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: pointer;
}

.search .icon::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid #eaeaea;
    border-radius: 50%;
    transform: translate(-2px, -2px);
}

.search .icon::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 6px;
    background-color: #eaeaea;
    transform: translate(5px, 5px) rotate(315deg);
}

.search .icon:hover {
    transform: scale(0.9);
    opacity: 70%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 10px 20px;
    padding: 16px;
    box-sizing: border-box;
}

.nav p {
    cursor: pointer;
    position: relative;
}

.nav p::after {
    content: '';
    position: absolute;
    height: 2px;
    border-radius: 30%;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.right-nav p::after {
    background-color: var(--green);
}

.left-nav p::after {
    background-color: var(--brown);
}

.nav p:hover {
    color: rgb(52, 49, 49);
}

.nav p:hover::after {
    width: 100%;
}

.left-nav .m-r {
    margin-right: 60px;
}

.left-nav {
    margin-left: 30px;
    display: flex;
    gap: 23px;
}

.center-nav h3 {
    font-weight: 300;
    font-size: 40px;
    text-shadow: 0.5px 1px rgb(67, 57, 57);
    cursor: pointer;
    transition: color 0.5s ease;
}


.center-nav h3:hover {
    color: rgb(52, 49, 49);
    text-shadow: 1px 1px rgb(109, 104, 104);
    transform: scale(1.1);
    transition-duration: 0.2s;
    /* transform: scale3d(1.1); */
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 23px;
}

.right-nav span {
    font-weight: bold;
}

.pic-nav {
    width: 34px;
    border-radius: 50%;
    cursor: pointer;
}

.profile:hover,
.pic-nav:hover {
    transform: scale(0.9);
    opacity: 80%;
}

.profile {
    border: 2px solid white;
}

.cart {
    width: 37px;
}

.nav-hr {
    color: rgb(230, 225, 225);
    width: 98%;
}

/* End Header Style */
/* Start Main Style */
main {
    display: grid;
    /* background-color: green; */
    grid-template-columns: repeat(3, 1fr);
}


.left-main {
    /* border: 1px solid red; */
    margin: 0px 30px;
    position: relative;
    display: grid;
    height: 85vh;
    grid-template-rows: auto auto auto;
    align-content: space-between;
}

.lt-main {
    height: 0px;
}

.lt-main img {
    position: absolute;
    top: -20px;
    left: -40px;
    width: 150px;
    cursor: pointer;
    background-image: none;
}

.lm-main {
    height: 420px;
    position: relative;
    color: white;
    /* border: 1px solid red; */
}

.lm-main h1 {
    font-weight: 300;
    font-size: 5em;
    margin-bottom: 50px;
}

.lm-main p {
    margin-bottom: 50px;
    letter-spacing: 1px;
    line-height: 20px;
}

.lm-main .button {
    background-color: var(--purple);
    display: flex;
    border-radius: 5px;
    width: 190px;
    height: 75px;
    box-sizing: border-box;
    padding: 15px;
    z-index: 100;
    cursor: pointer;
}

.lm-main .button h3 {
    color: black;
    z-index: 100;
    letter-spacing: 2px;
    text-align: center;
    margin: auto;
}

.buttonhov {
    position: relative;
    width: 190px;
    height: 75px;
}

.lm-main .button:hover h3 {
    box-shadow: #9D7E5F;
}

.button::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: white;
    z-index: -1;
    transition: 0.5s;
    top: 0;
    border-radius: 0 0 35% 35%;
}

.button:hover::before {
    height: 100%;
    z-index: 99;
    color: var(--brown);
}

.lm-main .button.shadow {
    position: absolute;
    top: 408px;
    left: 5px;
    z-index: -999;
    background-color: transparent;
    border: 1px solid white;
}

.lb-main {
    align-items: center;
    gap: 22px;
    display: flex;
}

.lb-main .image {
    cursor: pointer;
    padding: 5px;
}

.lb-main .image:hover {
    background-color: #282828;
    border-radius: 100%;
    transform: scale(0.9);
}


.lb-main img {
    width: 30px;
}

.lb-main .text {
    color: #F6F1E5;
    line-height: 24px;
}

/* .center-main {
    position: relative;
} */

.center-main img {
    top: 100;
    left: 680px;
    width: 555px;
    position: absolute;
}

.right-main {
    margin: 0px 30px;
    position: relative;
    display: grid;
    height: 85vh;
    justify-content: end;
    align-content: space-between;
    grid-template-rows: auto auto auto;
}

.rt-main {
    margin-top: 15px;
    color: white;
    text-align: end;
}

.rb-main {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    color: var(--brown);
    /* border: 1px solid red; */
}

.rb-main p {
    color: white;
}

.icon-sosmed {
    background-color: #F6F1E5;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    padding: 2px;
}

.rb-main a:hover .icon-sosmed {
    background-color: #dccdab;
    transform: scale(0.9);
}

.rb-main .icon-sosmed i {
    margin: auto;
}

.rm-main img {
    width: 50px;
}

/* Button Slider */

.rm-main .slide-icon {
    color: white;
    width: 320px;
    display: flex;
    align-items: center;
    position: relative;
}

.arr {
    display: block;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 30px 15px;
    transition: 0.4s ease;
    cursor: pointer;
}

.arr:hover {
    border: 0px;
    background-color: var(--purple);
}

.arr:hover div {
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.arr div {
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(45deg);
    left: 17.25px;
    top: 20px;
}

.left {
    transform: rotate(-90deg);
}

.right {
    transform: rotate(90deg);
}

.rm-main .slide h1 {
    font-size: 60px;
    font-weight: 400;
    text-align: center;
}


.rm-main .slide p {
    letter-spacing: 3px;
    font-size: 26px;
    position: absolute;
    left: 236px;
    top: 58px;
}


/* Style Carousel */
.slider {
    width: 320px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 320px;
    height: 500px;
}

/* css for manual slide */

.navigation-manual {
    position: absolute;
    width: 320px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #F6F1E5;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: var(--green);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -80%;
}

/* css for automatic navigation */

.navigation-auto {
    position: absolute;
    display: flex;
    width: 320px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid var(--green);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: var(--green);
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: var(--green);
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: var(--green);
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: var(--green);
}

#radio5:checked~.navigation-auto .auto-btn5 {
    background: var(--green);
}

/* Start Content */
.content-carousel {
    /* background-color: #DCDCDC; */
    position: relative;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container-content {
    width: 33%;
    display: flex;
    /* background-color: blue; */
    height: 100vh;
}

.container-content .title {
    display: flex;
    /* justify-content:center; */
    /* align-items: center; */
    /* background-color: blue;   */
    flex-direction: column;
    font-weight: bold;
}


.container-content .title h1 {
    font-size: 63px;
    margin: 40px 30px;
    font-variant: small-caps;
    text-align: center;
    color: rgb(28, 18, 18);
}

.container-content .title p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(28, 18, 18);
}

.container-content .title a {
    text-decoration: none;
    /* background-color: red; */
    font-size: 20px;
    margin: 30px;
    text-align: center;
    color: rgb(28, 18, 18);
}

.container-content .title .link {
    background-color: red;
    display: flex;
    margin-top: 20px;
    /* justify-content: center; */
    position: relative;
}

.link a {
    cursor: pointer;
    position: relative;
}

.link a::after {
    content: '';
    position: absolute;
    height: 2px;
    border-radius: 30%;
    width: 100%;
    /* right: 0; */
    bottom: -10px;
    transition: 0.3s;
}

.link-left {
    position: absolute;
    left: 0;
}

.link-right {
    position: absolute;
    right: 0;
}

.link-left a::after {
    left: 0;
}

.link-right a::after {
    right: 0;
}

.link a::after {
    background-color: var(--brown);
}

.link a:hover::after {
    width: 0%;
}

/* WRAPPER */
.wrapper {
    /* background-color: red; */
    margin-bottom: 140px;
    display: flex;
    width: 1700px;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
    background: #f2f2f2;
}

.wrapper i:first-child {
    left: -22px;
    display: none;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
}

.carousel img:first-child {
    margin-left: 0px;
}

/* 
@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
} */

.quote p {
    font-size: 20px;
    font-style: italic;
    color: rgb(57, 59, 61);
    position: absolute;
    bottom: 70px;
    right: 15%;
}

.quote h3 {
    font-size: 20px;
    color: rgb(57, 59, 61);
    position: absolute;
    font-weight: bold;
    bottom: 40px;
    right: 46%;
    font-variant: small-caps;
}

.quote h3:hover {
    transform: scale(0.96);
}

.content-analytic {
    /* background-color: #DCDCDC; */
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    background-color: #1E1E1E;
}

.content .top {
    width: 58%;
    /* background-color: red; */
    height: 40%;
    box-sizing: border-box;
    padding: 40px 30px;
    color: white;
}

.top h1 {
    font-size: 57px;
    margin-bottom: 20px;
    font-variant: small-caps;
}

.top p {
    font-size: 21px;
    margin-bottom: 20px;
    line-height: 31px;
}

.link-pg3 a {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    /* margin: 30px; */
    text-align: center;
    color: white;
}

.link-pg3 a::after {
    content: '';
    position: absolute;
    height: 2px;
    border-radius: 30%;
    width: 100%;
    /* right: 0; */
    bottom: -10px;
    right: 0px;
    transition: 0.3s;
}

.link-pg3 a::after {
    background-color: white;
    left: 0;
}

.link-pg3 a:hover::after {
    width: 0%;
}

.content .bottom {
    width: 58%;
    /* background-color: red; */
    /* position: relative; */
    height: 40%;
    box-sizing: border-box;
    padding: 40px 30px;
    color: white;
}

.analytic {
    display: flex;
    flex-direction: column;
    gap: 14px;
    background: url("../image/analytic/analytic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom p {
    color: #A5A5A5;
    width: 120%;
    padding: 28px 3px 0px 0;
    font-size: 20px;
    /* background-color: red; */
    cursor: pointer;
}

.bottom p:hover{
    color: white;
}

.bottom div {
    width: 800px;
    position: absolute;
    right: 70px;
    height: 800px;
    transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
    top: 60px;
    right: 70px;
    visibility: hidden;
}

/* Start Hover Text - Image */

.bottom { 
   
}

.img-1 {
    /* background-color: red; */
    background: url(../image/analytic/perfect.jpg);
    background-size: cover;
    background-position: -20px;
    /* visibility: hidden; */

}

.hover-img1:hover ~ .img-1 {
    visibility: visible;
}

.img-2 {
    background: url(../image/analytic/good.jpg);
    background-size: cover;
    background-position: -600px center;
    /* visibility: hidden; */
    /* height: 300px; */
}

.hover-img2:hover ~ .img-2 {
    visibility: visible;
}

.img-3 {
    background: url(../image/analytic/bad.jpg);
    background-size: cover;
    background-position: -300px center;
    /* visibility: hidden; */
    /* height: 300px; */
}

.hover-img3:hover ~ .img-3 {
    visibility: visible;
}

/* End Hover Text - Image*/

.small-caps {
    font-variant: small-caps;
}

/* Start Styling Footer  */
footer {
    display: flex;
    width: 100%;
    height: 60vh;
    background-color: #ddd7d7;
}

.container-footer{
    display: grid;
    grid-template-rows: 3fr 0.5fr;
    width: 99%;
    height: 94%;
    margin: auto;
    /* background-color: red; */
    background: url(../image/footer/footer.jpg );
    background-size: cover;
    background-color: black;
    background-blend-mode: screen;
    background-position: 0px 630px;
    /* opacity: 0%; */
}

.container-footer h2{
    color: white;
    font-size: 34px;
    font-family: 'Dancing Script', cursive;;
}

.top-footer {
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;

} 

.left-foot {
    /* background-color: rgb(31, 31, 162); */
    padding: 40px;
    font-size: 17px;
}

.lt-foot h2{
    /* font-size: 20px; */
    margin-bottom: 30px;
}

.lm-foot {
    margin-bottom: 30px;
}

.lm-foot p {
    margin-bottom: 8px;
}

.lb-foot p{
    margin-bottom: 8px;
}

.mid-foot {
    margin-top: 40px;
    text-align: center;
}
.mid-foot p {
    cursor: pointer;    
    margin-bottom: 30px;
    font-size: 22px;
}

.mid-foot p:hover {
    color: #A5A5A5;
    /* font-size: 18px; */
} 

.right-foot {
    /* background-color: rgb(49, 185, 90); */
    font-size: 20px;
    margin-top: 33px;
}

.right-foot h2, .right-foot h3 {
    margin-bottom: 23px;
}

/* Email */
.wrapper-footer {
    width: 450px;
    background: transparent;
    /* background: white; */
    padding: 30px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 33px;
}
.wrapper-footer .input-data {
    height: 40ox;
    width: 100%;
    position: relative;
}
.wrapper-footer .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}

.input-data input{
    background: transparent;
}

.input-data input:focus ~ label, 
.input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color: var(--brown);
}
.wrapper-footer .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: white;
    pointer-events: none;
    transition: all 0.3s ease;
}
.wrapper-footer .input-data .underline {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}
.input-data .underline::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: var(--brown);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline::before,
.input-data input:valid ~ .underline::before {
    transform: scaleX(1);
}

/* End Email */

.right-foot input {
    float: left;
    margin-bottom: 20px;
    margin-right: 23px;
    display: inline;
}

.right-foot p .t-1{
    float: left;
    margin-bottom: 30px;
}

.right-foot p {
    margin: 16px 0;
}

.bottom-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0px;
    box-sizing: border-box;
}

.bt {
    margin-bottom: 30px;
}

.bottom-footer .bt h5 {
    font-size: 20px;
    color: white;
    margin: 0 25px;
    display: inline;
    font-variant:small-caps ;
    cursor: pointer;
}

.bottom-footer .bt h5:hover {
    color: #A5A5A5;
    /* font-size: 18px; */
} 

.bb p {
    color: white;
}

/* End Styling Footer */